{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="glass-card" style="margin-bottom: 30px;">
    <h2>{{ user.username }}</h2>
    <p>Роль: {{ user.get_role_display }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Телефон: {{ user.phone|default:"Не указан" }}</p>
</div>

{% if user.role == 'ADMIN' %}
    {% include 'users/admin_panel.html' %}
{% elif user.role == 'DOCTOR' %}
    {% include 'users/doctor_panel.html' %}
{% else %}
    {% include 'users/client_panel.html' %}
{% endif %}
{% endblock %}